body {
    background-color: #FAF9F6;
    height: 100vh;
}

.section {
    height: 100%;
}

.container {
    height: 100%;
}

.columns {
    height: 100%;
    display: flex;
}

.title {
    font-family: 'Almendra SC', serif;
    color: #867512;
}

.subtitle {
    font-family: 'Almendra', serif;
    font-style: italic;
    color: #867512;
}