body {
    background-color: #FAF9F6;
}

#home {
    padding-top: 90px;
}

#schedule {
    background-color: #C98686;
}

#travel {
    background-color: #FAF9F6;
}

#lodging {
    background-color: #C98686;
}
/*
.section {
    height: 100%;
}

.container {
    height: 100%;
}

.columns {
    height: 100%;
    display: flex;
} */

.custom-button {
    padding: 20px !important;
    border: 2px solid black !important;
    border-radius: 0px !important;
    background-color: #FAF9F6 !important;
    font-family: 'Baskervville', serif;
    font-weight: bold;
    color: black !important;
    text-decoration: none;
}

.custom-button:hover {
    background-color: #f1f1f1 !important;
}

.custom-button:active {
    background-color: #ebebeb !important;
}

p {
    font-family: 'Baskervville', serif;
    font-weight: bold;
    color: black;
}

a {
    color: black;
    text-decoration: underline dotted;
}

.title {
    font-family: 'Playfair Display', serif;
    color: black;
    letter-spacing: 5px;
}

.subtitle {
    font-weight: bold;
    color: black;
    letter-spacing: 6px;
}

.footer {
    background-color: #333030;
}

.footer p {
    color: #444444;
}

.navbar {
    background-color: #333030;
}

.navbar-item {
    font-family: 'Playfair Display', serif;
    color: #FAF9F6;
    letter-spacing: 5px;
    text-decoration: none;
}

.navbar a:hover {
    color: #d6d6d6 !important;
}

.navbar a:active {
    color: #d6d6d6 !important;
}

.navbar a:visited {
    color: #FAF9F6;
}

.custom-divider-main {
    margin-bottom: -1em;
}

.custom-divider-secondary {
    margin-bottom: -1em;
    background-color: #C98686;
}

.custom-divider-footer {
    margin-bottom: -1em;
    background-color: #333030;
}

.custom-divider-main path {
    fill: #C98686;
    stroke: #C98686;
}

.custom-divider-secondary path {
    fill: #FAF9F6;
    stroke: #FAF9F6;
}
