body {
    background-color: #FAF9F6;
    overflow-x: hidden;
}

#home {
    padding-top: 0px;
}

.header {
    position:relative;
    width:100%;
    height:100%;
    background-image: url(../../public/images/hero.jpg);
    background-size: cover;
    background-position: 50% 50%;
    color: #FAF9F6;
}

.header .overlay {
    top:0;
    left:0;
    position:absolute;
    z-index:10;
    background:
    -webkit-linear-gradient(
        bottom,
        rgba(250, 249, 246, 1) 0%,
        rgba(250, 249, 246, 0) 40%
    ),
    -webkit-linear-gradient(
        left,
        rgba(250, 249, 246, 1) 0%,
        rgba(250, 249, 246, 0) 25%
    ),
    -webkit-linear-gradient(
        right,
        rgba(250, 249, 246, 1) 0%,
        rgba(250, 249, 246, 0) 25%
    );
}


/*
.section {
    height: 100%;
}

.container {
    height: 100%;
}

.columns {
    height: 100%;
    display: flex;
} */

.custom-button {
    padding: 20px !important;
    border: 2px solid black !important;
    border-radius: 0px !important;
    background-color: #FAF9F6 !important;
    font-family: 'Baskervville', serif;
    font-weight: bold;
    color: black !important;
    text-decoration-line: none;
}

.custom-button:hover {
    background-color: #f1f1f1 !important;
}

.custom-button:active {
    background-color: #ebebeb !important;
}

p {
    font-family: 'Baskervville', serif;
    font-weight: bold;
    color: black;
}

a {
    color: black;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.title {
    font-family: 'Playfair Display', serif;
    color: black;
    letter-spacing: 5px;
}

.subtitle {
    font-family: 'Baskervville', serif;
    font-weight: bold;
    color: black !important;
}

.content {
    font-family: 'Baskervville', serif;
    font-weight: bold;
    color: black !important;
}

.photo-caption {
    font-family: 'Baskervville', serif;
    color: gray !important;
    font-size: small
}

#title .subtitle {
    letter-spacing: 6px;
}

.footer {
    background-color: #90b4f3;
}

.footer p {
    color: #444444;
}

.navbar {
    background-color: #90b4f3;
}

.navbar-item {
    font-family: 'Playfair Display', serif;
    color: #FAF9F6;
    letter-spacing: 5px;
    text-decoration-line: none;
}

.navbar-burger {
    color: #FAF9F6;
}

.navbar-menu {
    background-color: #90b4f3;
}

.navbar a:link {
    background-color: #90b4f3 !important;
    color: #FAF9F6 !important;
}

.navbar a:hover {
    background-color: #90b4f3 !important;
    color: #d6d6d6 !important;
}

.navbar a:active {
    background-color: #90b4f3 !important;
    color: #d6d6d6 !important;
}

.navbar a:visited {
    background-color: #90b4f3 !important;
    color: #FAF9F6 !important;
}

.custom-divider-main {
    margin-bottom: -1em;
}

.custom-divider-secondary {
    margin-bottom: -1em;
    background-color: #90b4f3;
}

.custom-divider-footer {
    margin-bottom: -1em;
    background-color: #90b4f3;
}

.custom-divider-main path {
    fill: #FAF9F6;
    stroke: #FAF9F6;
}

.custom-divider-secondary path {
    fill: #FAF9F6;
    stroke: #FAF9F6;
}
